@use "../../styles/variables" as *;

.moviesContent {
	background-color: $color-white;
	margin-top: $header-height;

	.container {
		margin: 0 auto;
		max-width: $maxScreenWidth;
		padding: 30px $nav-padding-x;

		@media (max-width: $breakpoint-md) {
			padding: $nav-padding-x-sm;
		}

		.heading {
			font-size: 1.6rem;
			line-height: $line-height-26;
			margin-bottom: 20px;
			font-weight: 600;
		}

		.mainContent {
			display: flex;
			gap: 30px;

			@media (max-width: $breakpoint-md) {
				flex-direction: column;
				gap: 20px;
			}
		}
	}

	.drawer {
		position: fixed;
		top: $header-height;
		left: 0;
		width: 80%;
		height: 100%;
		background: $color-brand-primary-alpha;
		-webkit-backdrop-filter: blur(20px);
		backdrop-filter: blur(20px);
		z-index: 9999;
		padding: $nav-padding-x-sm;
		box-sizing: border-box;

		transition: transform 0.3s ease-in-out;
		transform: translateX(-100%);

		&.show {
			transform: translateX(0);
		}

		.drawerList {
			list-style-type: none;

			.drawerListItem {
				.drawerListItemTitle {
					padding-bottom: 10px;
					color: $color-white;
					font-weight: 600;
					font-size: 1.3em;
				}

				.listMenu {
					list-style-type: none;
					margin-bottom: 20px;

					.listMenuItem {
						padding-bottom: 10px;

						.listMenuItemTitle {
							color: $color-white;
							font-weight: 400;
							font-size: 1em;
						}
					}

					.upcomingMenuItem {
						padding-bottom: 0;
					}
				}
			}
		}

		.drawerSubList {
			margin-top: 10px;
			list-style-type: none;

			.drawerListSubItem {
				color: #fff9;
				font-size: 1em;
				font-weight: 600;
				padding-bottom: 10px;
			}

			.loginSubItem {
				margin-top: 10px;
			}
		}
	}
}
