@use "../../../styles/variables.scss" as *;

.movies {
	width: calc(100vw - ($nav-padding-x * 2) - $filter-sidebar-width - 8px);
	max-width: calc($maxScreenWidth - 110px - $filter-sidebar-width);
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
	gap: 1.5rem;
	height: fit-content;

	@media (max-width: $breakpoint-md) {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: calc(0.25rem * 4);
	}
}